<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53320855610-994bj4nq35unfnlemvihb86m8ndeq7p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53320855610-994bj4nq35unfnlemvihb86m8ndeq7p3</string>
	<key>API_KEY</key>
	<string>AIzaSyDlRnG8Icznoq4iAjbQnmrwYoNEKqpA3Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>53320855610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>talhafaiz.MyBloodBank</string>
	<key>PROJECT_ID</key>
	<string>bloodbank-d553a</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank-d553a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53320855610:ios:1f776566d84dbf7a0cc503</string>
	<key>DATABASE_URL</key>
	<string>https://bloodbank-d553a.firebaseio.com</string>
</dict>
</plist>